<script type='text/javascript'>
	google.load('visualization', '1', {'packages': ['geochart']});
  google.setOnLoadCallback(drawRegionsMap);
  function drawRegionsMap() {
  	var data = google.visualization.arrayToDataTable([
			['Country', 'Hits'],
			<% @country_hash.each do |country| %>
				['<%= country[0] %>', <%= country[1] %>],
			<% end %>
				['RD',0]
     ]);
    var options = {};
    var chart = new google.visualization.GeoChart(document.getElementById('map'));
    chart.draw(data, options);
  };
</script>
<div id="map" ></div>
